*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #fff;
}
body{
	background-color: #0B0B0B;
	color: #fff;
	font-size: 24px;
	line-height: 28px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}
// ==================================
.container{
	padding: 0 15px;
	max-width: 1230px;
	margin: 0 auto;
}
.header{
	height: 100vh;
	position: absolute;
	z-index: 5;
	background: rgba(0, 0, 0, 0.3);
	left: 0;
	right: 0;
	&__top{
		display: flex;
		justify-content: space-between;
	}
	&__logo{
		padding-top: 36px;
		margin-bottom: 29px;
	}
	&__btn{
		width: 60px;
		height: 60px;
		border: 1px solid #fff;
		margin-top: 31px;
		background: rgba(255, 255, 255, 0.1);
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__btn-burger{
		width: 36px;
		height: 2px;
		background-color: #fff;
		margin: 5px 0;
	}
	&__content-title{
		font-family: 'Roboto', sans-serif;
		font-size: 96px;
		line-height: 112px;
		margin-bottom: 40px;
	}
	&__content-text{
		width: 284px;
		margin-bottom: 25px;
	}
	&__page-btn{
		display: inline-block;
		border: 1px solid #fff;
		padding: 30px 62px;
		background: rgba(255, 255, 255, 0.15);
		transition: all .5s;
		&:hover{
			background-color: #770302;
		}
	}
}
// ================
.container-menu{
	position: relative;
}
.menu{
	background-color: #000;
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	transition: all .5s;
	z-index: 10;
	&__list{
		height: 100vh;
		display: flex;
		align-items: center;
		& ul{
			list-style: none;
		}
		& a{
			font-size: 48px;
			line-height: 56px;
			font-weight: bold;
			padding: 30px 25px 14px 0;
			border-bottom: 3px solid #B70021;
			display: inline-block;
			min-width: 368px;
			transition: all .5s;
			&:hover{
				border-color: #fff;
				color: #B70021;
				transform: scale(1.2);
				margin-left: 37px;
			}
		}
	}
}
.menu.active{
	left: 0;
}
.close-btn{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 31px;
	right: 15px;
	cursor: pointer;
	&::after,
	&::before{
		content: "";
		width: 70px;
		height: 2px;
		background-color: #fff;
		position: absolute;
		transform-origin: left;
	}
	&::after{
		transform: rotate(45deg);
	}
	&::before{
		transform: rotate(-45deg);
		bottom: -1px;
	}
}
// ==========================
.slider{
	&__item{
		height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center 0;
	}
	& .slick-dots button{
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #0B0B0B;
		border: none;
		padding: 0;
		font-size: 0;
		cursor: pointer;
		outline: none;
	}
	& .slick-dots .slick-active button{
		background-color: #fff;
	}
	& .slick-dots li{
		display: inline-block;
		margin: 0 5px;
	}
	& .slick-dots{
		margin: -55px auto 0;
		position: relative;
		z-index: 6;
		max-width: 1230px;
		padding: 0 15px;
	}
}
// =====================================
.statistics{
	margin: 160px 0 100px;
	&__items{
		display: flex;
		justify-content: space-around;
		text-align: center;
	}
	&__item-title{
		margin-bottom: 19px;
	}
	&__item-num{
		font-size: 96px;
		line-height: 112px;
		margin-bottom: 7px;
		font-family: 'Roboto', sans-serif;
		& span{
			font-size: 24px;
			line-height: 28px;
			//margin-left: -20px;
		}
	}
	&__item-descr{
		color: #B70021;
	}
	&__item-num--speed span{
		display: inline-block;
		position: relative;
		&::before{
			content: "+";
			position: absolute;
			top: -60px;
		}
	}
}
// ========================
.video{
	margin-bottom: 100px;
}
// =========================
.advantages{
	&__inner-row{
		margin-bottom: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	&__title{
		line-height: 42px;
		color: #B70021;
		font-size: 36px;
		position: absolute;
		top: 0;
	}
	&__text{
		width: 303px;
	}
	&__text ul{
		list-style: none;
	}
	&__descr{
		max-width: 570px;
		width: 100%;
	}
	&__title--botton{
		right: 0;
		bottom: 0;
		top: auto;
	}
}
// =========================================
.design{
	&__images{
		margin-bottom: 100px;
	}
	&__row{
		display: flex;
		justify-content: space-between;
		margin-bottom: 100px;
	}
	&__row-item{
		max-width: 570px;
		width: 100%;
		padding-right: 15px;
		display: flex;
		justify-content: space-between;
	}
	&__row-item-num{
		color: #B70021;
	}
	&__row-item-text{
		max-width: 430px;
		padding-top: 30px;
	}
}
// ===================================
.footer{
background-color: #690102;
padding: 83px 0 20px;
&-btn{
	text-align: center;
	margin-bottom: 83px;
}
&-copy{
	text-align: center;
	font-weight: 700;
}
&-copy ul{
	list-style: none;
}
&-copy li{
	display: inline-block;
	padding: 0 10px;
	position: relative;
	& + li::before{
		content: "|";
		position: absolute;
		left: -5px;
	}
}
}
// ============================
@media(max-width: 1220px){
	.advantages__text{
		padding-left: 25px;
	}
	.design__images img{
		width: 100%;
	}
}
@media(max-width: 1020px){
	.design__row{
		display: block;
	}
	.design__row-item{
		max-width: 100%;
		margin-bottom: 30px;
		padding-right: 0;
	}
	.design__row-item-text{
		max-width: 100%;
	}
	.design__images,
	.design__row{
		margin-bottom: 50px;
	}
}
@media(max-width: 930px){
	.advantages__inner-row{
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 50px;
	}
	.advantages__title{
		position: static;
	}
	.advantages__descr{
		text-align: center;
	}
	.advantages__text{
		margin: 25px auto;
		padding-left: 0;
	}
  .advantages__inner-row--mobile .advantages__descr{
		order: -1;
		display: flex;
		flex-direction: column;
	}
	.advantages__title--botton{
		order: -1;
}
}
@media(max-width: 820px){
	.statistics__items{
		flex-wrap: wrap;
	}
	.statistics-item{
		padding: 50px;
	}
}
@media(max-width: 650px){
	.advantages__img img{
		width: 100%;
	}
	.design__row-item-text{
		font-size: 20px;
	}
}
@media(max-width: 440px){
	.header__content-title{
		font-size: 80px;
		margin-top: 20px;
		line-height: 90px;
	}
}
@media(max-width: 410px){
	.ligo img{
		width: 200px;
	}
	.header__content-title{
		font-size: 70px;
		margin-top: 20px;
		line-height: 85px;
	}
	.menu__listm a{
		font-size: 30px;
		line-height: 44px;
		padding: 19px 10px 7px 0;
		display: block;
		min-width: 100%;
	}
	.menu__listm ul{
		width: 100%;
	}
	.statistics-item{
		padding: 25px 0;
	}
	.statistics{
		margin: 110px 0 50px;
	}
	.header__page-btn{
		padding: 20px 45px;
	}
	.video{
		margin-bottom: 50px;
	}
	body{
		font-size: 20px;
		line-height: 24px;
	}
	.advantages__text{
		width: 100%;
	}
}